
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetHolidayPdf</title>
</head>
<body>
    <embed src="file:///C:/Users/anily/Desktop/IzinFormu/IzinFormu/Iz%C4%B1nPdf/Mehmet-20-06-2018-13-39-57.pdf" type="application/pdf">
</body>
</html>
